body {
    background-color: cadetblue;
}
h1 {
    color: white;
    text-align: center;
    font-family: ; {
    border: 0;
    height: 3px;
    background-color: black;
}
.imagen-pequeña {
    width: 15px;
    height: auto;
    
}